div#btn-container[b-g3c2crwvb5] {
    width: 400px;
    height: 400px;
    display: grid;
    grid: 133px 133px 133px / 133px 133px 133px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    place-items: center center;
  }
  
  button#left[b-g3c2crwvb5] {
    width: 100px;
    height: 100px;
    grid-row-start: 2;
    grid-column-start: 1;
  }
  
  button#up[b-g3c2crwvb5] {
    width: 100px;
    height: 100px;
    grid-row-start: 1;
    grid-column-start: 2;
  }
  
  button#down[b-g3c2crwvb5] {
    width: 100px;
    height: 100px;
    grid-row-start: 3;
    grid-column-start: 2;
  }
  
  button#right[b-g3c2crwvb5] {
    width: 100px;
    height: 100px;
    grid-row-start: 2;
    grid-column-start: 3;
  }